<div fxLayout fxLayoutAlign="center center" class="footer">
  <div fxFlex="3 1 auto"></div>
<!--   <div fxLayout="column" fxFlex>
    <h4 class="subheading-1">Services</h4>
  </div>

  <div fxLayout="column" fxFlex>
    <h4 class="subheading-1">Resources</h4>
  </div>

  <div fxLayout="column">
    <h4 fxFlex class="subheading-1">Quickbooks</h4>
  </div>

  <div fxLayout="column" fxFlex>
    <h4 class="subheading-1">Portal</h4>
  </div>

  <mat-divider [vertical]="true"></mat-divider>
 -->
  
  <h3 fxFlex class="mat-subheading-2">Spinnaker Financial Services</h3>

  <div fxFlex></div>

  <div fxLayout="column" fxFlex>
      <h4 fxFlex class="subheading-1">Address</h4>
      <div fxFlex>
      <p class="mat-body-2">532 Dietrich Road</p> 
      <p class="mat-body-2">Ballwin MO 63021</p>
      </div>
  </div>

  <div fxFlex="3 1 auto"></div>


</div>
