

 <!-- info dependent on the shit on the right. -->

 <div fxLayout fxLayoutGap="30px" class="jumbotron">
  <div fxLayout="column">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Individual</mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>Tax Preperation</mat-list-item>
          <mat-list-item>Tax Planning</mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Individual</mat-expansion-panel-header>
          <mat-list>
            <mat-list-item>Tax Preperation</mat-list-item>
            <mat-list-item>Tax Planning</mat-list-item>
          </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Business</mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>Bookkeeping</mat-list-item>
          <mat-list-item>Small Business Accounting</mat-list-item>
          <mat-list-item>Compilations</mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
      <mat-expansion-panel-header>QuickBooks</mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>Why QuickBooks</mat-list-item>
          <mat-list-item>QuickBooks Setup</mat-list-item>
          <mat-list-item>QuickBooks Training</mat-list-item>
          <mat-list-item>QuickAnswers</mat-list-item>
          <mat-list-item>QuickBooks Tips</mat-list-item>
          <mat-list-item>Quick Tuneup</mat-list-item>
          <mat-list-item>Online Backup</mat-list-item>
          <mat-list-item>Buy QuickBooks and Save</mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>


  <div fxFlex class="tabs" color="accent">
    <mat-tab-group class="tabs" color="accent">
      <mat-tab color="warn" label='Tax Preperation'></mat-tab>
      <mat-tab label='Tax Planning'></mat-tab>
    </mat-tab-group>

<!--     <mat-tab-group>
      <mat-tab label='Book Keeping'></mat-tab>
      <mat-tab label='Small Business Accounting'></mat-tab>
    </mat-tab-group>

    <mat-tab-group>
        <mat-tab>Why QuickBooks</mat-tab>
        <mat-tab>QuickBooks Setup</mat-tab>
        <mat-tab>QuickBooks Training</mat-tab>
        <mat-tab>QuickAnswers</mat-tab>
        <mat-tab>QuickBooks Tips</mat-tab>
        <mat-tab>Quick Tuneup</mat-tab>
        <mat-tab>Online Backup</mat-tab>
        <mat-tab>Buy QuickBooks and Save</mat-tab>
    </mat-tab-group> -->

  </div>
 </div>