<div fxLayout="column" fxLayoutAlign="start center" class="jumbotron">
  <div fxFlex></div>
  <!-- <div fxFlexLayout="column" class="grabber-surround"> -->
  <div fxLayout="column" fxLayoutAlign="center center" class="grabber-surround">
    <div fxFlex><h1 class="mat-display-3 grabber">Spinnaker Financial Services</h1></div>
    <div fxFlex><p class="mat-title sub-grabber">Financial services for business owners, executives, and independent professionals</p></div>
    <div fxLayout fxLayoutGap="15px">
      <button fxFlex mat-raised-button class="raised-link grabber-link">Contact Us</button>
      <button fxFlex mat-raised-button class="raised-link grabber-link">Portal Login</button>
    </div>
  </div>
  <!-- </div> -->

  <div fxFlex="4 1 auto"></div>
  
</div>
