/* h1, p, button {
    border: 1px solid black;
}  */


.grabber {
    margin: 0px;
}

.sub-grabber {
  font-weight:  lighter;
  padding-right: 20%;
}

.grabber-link {
  height: 50px;
  width: 200px;
  color: black;
}

.picture {
  height: 400px;
}

* {
  border: 1px border solid;
}


