<div fxLayout="column" fxLayoutAlign="start center" class="jumbotron">
  <div fxFlex="1 2 auto"></div>
  <div fxFlex>
      <h1 class="mat-display-3 grabber">Web creation designed to increase your clientele</h1>
      <p class="mat-subheading-2 sub-grabber"><i>Recieve both a professional website and mobile app that will streamline your payment process and increase your visibility</i></p>
  </div>

  <button fxFlex fxFlexAlign="center start" mat-raised-button class="raised-link grabber-link">See Examples</button>
  <div fxFlex="1 1 auto"></div>
</div>
