/* h1, p, button {
    border: 1px solid black;
}  */

.grabber {
  margin: 0px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.sub-grabber {
padding-right: 20%;
padding-left: 20%;
color: white;
text-align: center;
font-weight: lighter;
/* font-style: italic; */
}

.grabber-link {
/* height: 50px;
width: 200px; */
color: black;
/* padding-right: 85px;
padding-left: 85px; */
}

