/* h1, p, button {
    border: 1px solid black;
}  */

.grabber {
  margin: 0px;
  margin-bottom: 10px;
  text-align: center;
}

.sub-grabber {
font-weight:  lighter;
padding-right: 17%;
padding-left: 17%;
color: black;
text-align: center;
}

.grabber-link {
/* height: 50px;
width: 200px; */
color: black;
padding-right: 75px;
padding-left: 75px;
}

