<!-- Pay Bill: <i class="material-icons thumbnail">monetization_on</i>
Schedule Meeting: <i class="material-icons thumbnail">insert_invitation</i>
Contact Us: <i class="material-icons thumbnail">monetization_on</i>
Donation Form: <i class="material-icons thumbnail">download thing</i>

 -->
<div fxLayout fxLayoutAlign="center center" class="mat-typography">
  <span fxFlex></span>
  <a class="thumbnail-link" fxFlex>
    <h2 class="title">Billing</h2>
    <mat-icon class="thumbnail">monetization_on</mat-icon>
  </a>
  <span fxFlex></span>

  <span fxFlex></span>
  <a class="thumbnail-link"fxFlex>
    <h2 class="title">Scheduling</h2>
    <mat-icon class="thumbnail">insert_invitation</mat-icon>   
  </a>
  <span fxFlex></span>

  <span fxFlex></span>
  <a class="thumbnail-link" fxFlex>
    <h2 class="title">Emailing</h2>
    <mat-icon class="thumbnail">computer</mat-icon>
  </a>
  <span fxFlex></span>

  <span fxFlex></span>
  <a class="thumbnail-link"fxFlex>
    <h2 class="title">Downloads</h2>
    <mat-icon class="thumbnail">content_paste</mat-icon>
  </a>
  <span fxFlex></span>

</div>