.example-header-image {
    text-align: center;
}

.card-text {
    text-align: center;
}

.title {
    color: #0C71C3;
    text-align: center;
}

.mat-icon {
    height: 100px;
    width: 100px;
}

a {
    padding: 5px;
}

a:hover {
    border-radius: 3px;
    background-color: #E0E0E0;
    padding: 5px;
}