/* You can add global styles to this file, and also import other style files */
/* * {
  border: 1px solid black;
} */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* MINT:  #4ABDAC
ORANGE/VERMILLION: #FC4A1A
SUNSHINE?YELLOW:  #F7B733
CLEAN: #DFDCE3 */
body {
  margin: 0 auto;
  padding: 0;
  background-color: white;
/*   max-width:  1300px; */
/*     box-shadow: 0 0 5px -1px rgba(0,0,0,.2), 0 0 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
*/}

.raised-link {
background-color: #F7B733;
color: black;
max-height: 40px;
}

.gen-text {
color: #A1141B
}

.jumbotron {
/* background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg); */
background-color:  #4ABDAC;
height:  350px;
margin: 0px auto;
padding:  30px 250px;
padding-bottom: 0px;
color: white;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(50, 50, 50, 0.2);
  border-right: 1.1em solid rgba(50, 50, 50, 0.2);
  border-bottom: 1.1em solid rgba(50, 50, 50, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

